.row {
    border: 1px solid red;
    height: 100%;
}

.col {
    border: 1px solid blue;
    height: 100%;
}

.stat-container {
    border: 1px solid pink;
    height: 25%;
}

.stat-bar-container {
    border: 1px solid black;
}

.stat-bar {
    border: 2px solid white;
    height: 25px;
}

.hp {
    background-color: red;
}

.ep {
    background-color: blue;
}

.image-container {
    border: 1px solid green;
    height: 75%;
}

img {
    height: 100%;
}

#countdown-container {
    border: 1px solid black;
    height: 16%;
}

#info-container {
    border: 1px solid black;
    height: 42%;
}

#command-container {
    border: 1px solid black;
    height: 42%;
}

#span-atk {
    background-image: url('..images/icons/gaming.png');
}