/* Custom fonts */
@font-face {
    font-family: EvilEmpire;
    src: url(../fonts/EvilEmpire-4BBVK.ttf);
}
@font-face {
    font-family: SofiaSans;
    src: url(../fonts/SofiaSans-VariableFont_wght.ttf);
}

/* Animations */
@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeInOutAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Hide page before checking for user authority */
html {
    visibility:hidden;
}

.row {
    height: 100%;
}

.col {
    height: 100%;
}

.stat-container {
    height: 25%;
}

.stat-bar-container {
    border: 1px solid black;
}

.stat-bar {
    border: 2px solid white;
    height: 25px;
}

.hp {
    background-color: red;
}

.ep {
    background-color: blue;
}

.image-container {
    height: 75%;
    padding: 20px;
}

img {
    height: 100%;
}

#moves-col {
    transition: border 3s;
}

#countdown-container {
    height: 16%;
}

#countdown-box {
    height: 100%;
    width: 0px;
    transition: width 3s;
    border-bottom: 3px solid black;
}

#info-container {
    height: 42%;
}

#action-container {
    height: 42%;
}

.btn {
    margin: 3px;
}

#player-name {
    font-family: EvilEmpire;
}

#opponent-name {
    font-family: EvilEmpire;
}

#join-message-player {
    font-family: SofiaSans;
    font-size: 20px;
    animation: fadeOutAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#join-message-opponent {
    font-family: SofiaSans;
    font-size: 20px;
    animation: fadeOutAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#ready-message-player {
    font-family: SofiaSans;
    font-size: 18px;
    animation: fadeInOutAnimation ease 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

#ready-message-opponent {
    font-family: SofiaSans;
    font-size: 18px;
    animation: fadeInOutAnimation ease 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

#player-action {
    font-family: SofiaSans;
}

#opponent-action {
    font-family: SofiaSans;
}

#player-result {
    font-family: sans-serif;
    color: green;
}

#opponent-result {
    font-family: sans-serif;
    color: red;
}