/* Custom fonts */
@font-face {
    font-family: EvilEmpire;
    src: url(../fonts/EvilEmpire-4BBVK.ttf);
}
@font-face {
    font-family: SofiaSans;
    src: url(../fonts/SofiaSans-VariableFont_wght.ttf);
}

/* Animations */
@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeInOutAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.row {
    border: 1px solid red;
    height: 100%;
}

.col {
    border: 1px solid blue;
    height: 100%;
}

.stat-container {
    border: 1px solid pink;
    height: 25%;
}

.stat-bar-container {
    border: 1px solid black;
}

.stat-bar {
    border: 2px solid white;
    height: 25px;
}

.hp {
    background-color: red;
}

.ep {
    background-color: blue;
}

.image-container {
    border: 1px solid green;
    height: 75%;
}

img {
    height: 100%;
}

#countdown-container {
    border: 1px solid black;
    height: 16%;
}

#info-container {
    border: 1px solid black;
    height: 42%;
}

#action-container {
    border: 1px solid black;
    height: 42%;
}

#span-atk {
    background-image: url('..images/icons/gaming.png');
}

#player-name {
    font-family: EvilEmpire;
}

#opponent-name {
    font-family: EvilEmpire;
}

#join-message-player {
    font-family: SofiaSans;
    font-size: 20px;
    animation: fadeOutAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#join-message-opponent {
    font-family: SofiaSans;
    font-size: 20px;
    animation: fadeOutAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#ready-message-player {
    font-family: SofiaSans;
    font-size: 18px;
    animation: fadeInOutAnimation ease 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

#ready-message-opponent {
    font-family: SofiaSans;
    font-size: 18px;
    animation: fadeInOutAnimation ease 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

#player-action {
    font-family: SofiaSans;
}

#opponent-action {
    font-family: SofiaSans;
}